<html lang="en">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
    <header class="w-full">
        {{- partial "header.html" . -}}
    </header>
    <main class="flex flex-col items-center mx-auto">    
        <div class="w-full">
            {{- block "main" . }}{{- end }}
        </div>
    </main>
</body>
</html>